.chatroom {
  margin: auto;
  padding: 1em;
  border-radius: 5px;
  margin-top: -2rem;
  max-width: 50%;
  height: 65vh;
  background: var(--grey);

  .roomid {
    .id {
      cursor: pointer;
    }

    display: flex;
    gap: 5px;
    margin-bottom: 0.5rem;

    .clipboard {
      width: 20px;
    }
  }

  .chats {
    overflow-y: auto;
    height: 80%;

    &::-webkit-scrollbar {
      width: 9px;
      height: 11px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--dark-grey);
      border: 2px solid var(--background);
    }

    .chat-left,
    .chat-right {
      p {
        border-radius: 5px;
        border-bottom-left-radius: 0;
        padding: 0.5em;
        color: black;
        background: var(--purple);
      }
    }

    .chat-right {
      small {
        display: block;
        text-align: right;
      }
      p {
        background: rgb(255, 238, 153);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0;
      }
    }

    .chat-info {
      color: var(--dark-grey);
      text-align: center;

      small {
        font-size: 0.9rem;
      }
    }
  }

  form {
    display: flex;
    gap: 2px;

    input[type='text'] {
      flex-grow: 1;
      min-width: 30%;
      border-radius: 5px;
      border: none;
      padding: 0.5em;
      font: inherit;
      font-size: 1rem;
    }

    button {
      cursor: pointer;
      background: none;
      border: none;

      svg {
        fill: var(--yellow);
        width: 30px;
      }
    }
  }
}
